# Lists

#### 1) Lists Intro

In [10]:
a=[1,2,3]
a

[1, 2, 3]

In [11]:
type(a)

list

Lists can be empty as well

In [12]:
a=[]
a

[]

#### 2) Lists can be accessed similar to Strings and unlike Strings they are Mutable

In [15]:
a=[4,4,3,2]
a[3]

2

In [18]:
a[2]=404040
a

[4, 4, 404040, 2]

### 3) Most Importantly unlike Arrays in other Languages, Lists can store any data type, not only one

In [21]:
a=[1,2,"abc",4.4,True]
a

[1, 2, 'abc', 4.4, True]

In [22]:
a=[1,4,[1,2,3],5.3,"abcsd",True]
a

[1, 4, [1, 2, 3], 5.3, 'abcsd', True]

Note : A list can also contain a list

Note : A loop can also run in a list. This is immensely benificial

In [26]:
b=[i*i for i in range(10)]
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
list("hello")

['h', 'e', 'l', 'l', 'o']

#### 4) List Length

In [54]:
a=[4.4,6,8,34]
len(a)

4

#### 5) How to add elements to a list

In [55]:
a=[1,2,3,4]
b=[6,7,8]

In [56]:
a+b

[1, 2, 3, 4, 6, 7, 8]

Add data to the end :

In [57]:
a

[1, 2, 3, 4]

In [58]:
a.append(5)
a

[1, 2, 3, 4, 5]

Add data to any position :
    insert (position, number to be inserted)

In [71]:
a.insert(0,3)
a

[3, 1, 2, 3, 4, 6, 6, 7]

#### 6) Delete Elements in a list

In [88]:
a=[1,2,3,4,5,6,6,7]

To remove a particular element :

In [89]:
a.remove(5)
a

[1, 2, 3, 4, 6, 6, 7]

Now if there are multiple occourances of a same element, it deletes the first occourance

In [90]:
a.remove(6)
a

[1, 2, 3, 4, 6, 7]

If we want to remove from a particluar INDEX, then we use pop

In [91]:
a.pop(0)

1

In [92]:
a

[2, 3, 4, 6, 7]

#### 7) Sorting and MAX

In [94]:
b=[5,6,3,8,23,2]

In [98]:
b.sort()
b

[2, 3, 5, 6, 8, 23]

In [100]:
max(b)

23

Note : It wonn't return max if there are multiple data types in the list as it can't compare

In [101]:
b=[3,4,2.4,"avc"]
max(b)

TypeError: '>' not supported between instances of 'str' and 'int'

### 8) To Find if a element exists in a List and what is its index

In [107]:
b=[1,6,3]
100 in b

False

In [108]:
3 in b

True

In [106]:
b.index(6)

1

### 9) How to take Input in a List

if the format is :

5

1

2

3

4

5

In [3]:
#First Take the size of the elements
n=int(input())
a=[]
for i in range(n):
    ne=int(input())
    a.append(ne)
a

5
1
2
3
4
5

[1, 2, 3, 4, 5]

If the format is 

5

1 2 3 4 5

In [125]:
n=int(input())
# Now seperate the numbers using spaces
a = [int(i) for i in input().split()]

5
1 2 3 4 5

Note: The long way of the above process is given below :

In [4]:
n=int(input())
line=input()
l = line.split()
l

5
1 2 3 4 5

['1', '2', '3', '4', '5']

In [5]:
a=[]
for i in l:
    a.append(int(i))
a

[1, 2, 3, 4, 5]

In [6]:
li=[["IN, KA, Bangalore"],["US, WA, Seattle"]]
li

[['IN, KA, Bangalore'], ['US, WA, Seattle']]

In [14]:
["Bangalore"] in li

False